<a href="https://colab.research.google.com/github/Junse0/class2021Fall/blob/main/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

(지금 사용하는 것이)Jupyter Notebook(이라는 환경임)

제일 처음 해 보는 코딩입니다.

제일 **처음** 해 보는 코딩입니다.

제일 *처음* 해 보는 코딩입니다.

모든 코딩은 '변수 (variables)', '제어문 (syntax)', '함수'로 이루어짐

In [7]:
# 변수(variables)(int,float,str,list,dict)
a = 1                                                                           # '=' 은 변수(왼쪽)에 해당 값(오른쪽)을 할당한다는 뜻 (같다는 뜻이 아님)
b = 1.1
c = 'hello'                                                                     # 글자도 변수에 넣을 수 있음 # 텍스트(string)을 표현 할 때는 '' 안에 표현
d = [1, 'abc', 2.1]                                                             # 리스트(여러가지를 한꺼번에 넣는것)(다른 종류가 있어도 됨 int, str,float...)
e = {"apple": "red fruit", "banana": "yellow furit"}                            # 중괄호

print(a) 
print(b)

print(type(a))                                                                  # <class 'int'> 정수
print(type(b))                                                                  # <class 'str'> 문자
print(type(c))                                                                  # <class 'float'> 소수점이 포함된 숫자
print(type(d))                                                                  # <class 'list'>
print(type(e))                                                                  # <class 'dict'>

# access할 때는 []사용
print(c[0])                                                                     # 'hellow'의 0번째 h를 출력
print(c[0:2])                                                                   # 'hellow"의 0에서 1까지 he 출력
print(d[0])                                                                     # '1'
print(d[1])                                                                     # 'abc'
print(d[1][1])                                                                  # 'b' (리스트의 1번째의 1번째 출력)
print(e)
# print(e[0]) # error(dict는 표제어를 넣어 access해야 함)
print(e["apple"])

1
1.1
<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'dict'>
h
he
1
abc
b
{'apple': 'red fruit', 'banana': 'yellow furit'}
red fruit
red fruit

변수는 문자여야 함

1 = 4 (error)

a123 = 4 (가능)